.List__selsAndList {
  width: 90%;
  min-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.List__task {
  position:relative;
  font-size:12px;
  border:1px solid gray;
  box-shadow: 2px 2px 2px #8f8888;
  margin-top: 20px;
  padding: 0 30px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.List__task p {
  margin-top: 0;
}

.List__task p:first-of-type {
  margin-top: 10px;
}

.List__task-title {
  font-weight: bold;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.List__task-description {
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.List__task-completed {
  text-decoration: line-through;
}

.List__task-late {
  background: #e06767;
}

.List__task-icon {
  width: 20px;
  height:20px;
  position: absolute;
  background-repeat:no-repeat;
  background-size: 100%;
  filter: drop-shadow(0 0 2px gray);
  transition: transform 500ms ease-in-out;
}

.List__task-icon:hover {
  transform: scale(1.3); 
}

.List__task-done {
  top: 5px;
  left: 5px;
  background-image:url('../images/done.svg');
}

.List__task-edit {
  top: 30px;
  left: 5px;
  background-image:url('../images/edit.svg');
}

.List__task-remove {
  top: 5px;
  right: 5px;
  background-image:url('../images/del.svg');
}

.List__form-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
}

.List__form-radio label {
  padding: 5px;
}

.List-checked_radio {
  font-weight:bold;
  text-decoration: underline; 
  margin: 0;
}

.List-no_checked_radio {
  font-weight:normal;
  text-decoration: none;
  margin: 0;
}

.List__form-radio label:hover {
  filter:drop-shadow(2px 2px 2px #8f8888);
  transition: 0.2s ease-in-out;
}

.List__form-radio:nth-last-child {
  margin-right: 0;
}

.List__form-radio input[type="radio"] {
  display:none;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) and (orientation: portrait) {
  .List__task {
    font-size: 18px;
    padding: 0 40px;
  }

  .List__form-radio {
    font-size: 1rem;
  }

  .List__task-icon {
    width: 30px;
    height:30px;
  }

  .List__task-edit {
    top: 50px;
    left: 5px;
  }
}

@media only screen and (min-height: 1300px) and (orientation: portrait) {
  .List__task {
    font-size: 24px;
    padding: 0 40px;
  }

  .List__form-radio {
    font-size: 1rem;
  }

  .List__task-icon {
    width: 30px;
    height:30px;
  }

  .List__task-edit {
    top: 50px;
    left: 5px;
  }
}